* 
{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;}

body{background-color: rgba(95, 158, 160, 0.589);}

main{background-color: white; 
    width: 500px; 
    margin:auto; 
    padding: 10px; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534);}